body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Raleway',sans-serif;
	color: #fff;


}
.banner{
  min-height: 100vh;
  height: -webkit-fill-available;
	width: 100%;
	/* background:url('../../../assets/image/boutiqueimage.jpg'); */
  background-position: top;
	background-size:cover;
	background-attachment: fixed;

}

.card{
  background-color: black;
  margin-left: 15px;
  /* margin-left: 1%; */
  width:400px;
  /* width:24%; */
  border-radius: 15px;
  margin-top: 10px;
}
.card img{
  border-radius: 15px;
}

#button_add{
  /* text-align: left; */
  border-radius: 35px;
  background-color: greenyellow;
  width: 100px;
  height: 50px;

}
