
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<!-- <div class="col-md-12"> -->
  <nav class="navbar navbar-md">
    <div class="navbar-brand">SHOPING</div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/articles">ARTICLE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/orders">ORDERS</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/about">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/boutique/cart/shoping">PANIER</a>
      </li> -->
    </ul>
  </nav>
<!-- </div> -->
